html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f1f1f1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1a202c;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

.input-copy {
  position: relative;
  display: flex;
  flex-direction: column;
  width: min(50vw, 30rem);
  height: 3rem;
}
.input-copy button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}
.input-copy button svg {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.75rem;
  transition: all 0.2s ease-in-out;
}
.input-copy button:hover {
  cursor: pointer;
}

.input-copy button:hover svg {
  color: #f1f1f1;
}

.input-copy input {
  padding: 0.5rem;
  padding-left: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #2d3748;
  color: #f1f1f1;
  height: 3rem;
  font-family: monospace;
  outline: none;
}

a {
  color: #f1f1f1;
}

.development-notice {
    position: absolute;
    bottom: 0;
}